@font-face {
  font-family: "SF Pro", sans-serif;
  src: url("fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("fonts/SFProDisplay-Regular.woff") format("woff"),
    url("fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro", sans-serif;
  src: url("fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("fonts/SFProDisplay-Bold.woff") format("woff"),
    url("fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro", sans-serif;
  src: url("fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("fonts/SFProDisplay-Medium.woff") format("woff"),
    url("fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "SF Pro", sans-serif;
  --color-primary: #00a3ff;
  --black: #1f1f1f;
  --grey: #f8f8f8;
  --dark: #1d1d1d;
}

body {
  font-family: var(--font-primary);
  padding-top: 104px;
  color: #000000;
  overflow-x: hidden !important;
}

/********************************
           General
********************************/

h1 {
  font-size: 100px;
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  font-size: 70px;
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 1.27;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: var(--color-primary);
}

.bg-black {
  background-color: var(--black);
}

.bg-dark {
  background-color: var(--dark);
}

.btn {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 36px;
  border: none;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: #ffffff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.standard-padding {
  padding-top: 145px;
  padding-bottom: 145px;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}
/********************************
              Navbar
********************************/

.navbar {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ffffff;
}

.navbar-brand img {
  height: 76px;
  width: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(icons/Menu.svg);
  background-size: 32px;
}

.nav-item {
  border-bottom: 1px solid #888886;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-link {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  transition: all 0.3s ease-out;
}

.nav-link:hover {
  color: var(--color-primary);
}

.navbar-contact {
  padding-right: 60px;
}

.navbar-contact .btn {
  padding: 22px 63px;
}

.navbar-tel {
  padding-right: 26px;
}

.navbar-tel a span {
  position: relative;
}

.navbar-tel a span:hover {
  color: #888886;
}

.navbar-tel a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: #888886;
  transition: width 0.2s ease;
}

.navbar-tel a span:hover::after {
  width: 100%;
}

.navbar-tel a {
  color: var(--black);
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 1.18;
  text-decoration: none;
  font-weight: 500;
}

/********************************
           HERO
********************************/

.home-hero {
  min-height: 762px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.home-hero-bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 60%;
}

.home-hero-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 10;
}

.home-hero h1 {
  color: #ffffff;
  margin-bottom: 17px;
}

.hero-text {
  max-width: 334px;
  margin-bottom: 43px;
}

.hero-text p:last-child {
  margin-bottom: 0px;
}

.hero-text p {
  color: #ffffff;
  font-family: var(--font-secondary);
  font-size: 22px;
}

.home-hero .btn-wrap {
  margin-bottom: 110px;
}

.arrow-down img {
  transform: rotate(180deg);
}

/********************************
          About
********************************/

.editor p:last-child {
  margin-bottom: 0px;
}

p span {
  color: var(--color-primary);
}

p {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.7;
  color: #000000;
}

.about-section .editor,
.units-section .editor {
  max-width: 550px;
  margin: 0 auto;
}

.about-section .editor .btn-wrap {
  margin-top: 45px;
}

.about-section .btn {
  padding: 22px 63.5px;
}

.about-card {
  background-color: var(--grey);
  padding: 32px;
  border-radius: 24px;
  height: 100%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.about-card-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.93;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 20px;
  letter-spacing: -0.02em;
  color: var(--black);
}

.about-cards-block {
  padding-top: 60px;
}

.about-card-text p:last-child {
  margin-bottom: 0px;
}

.about-card-text p {
  font-size: 22px;
  line-height: 1.54;
  color: var(--black);
}

.about-card-icon {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 13px;
}

.about-card-icon img {
  height: 38px;
  width: auto;
}

/********************************
          PLANS
********************************/

.plans-section h2 {
  color: #f8f8f8;
  margin-bottom: 62px;
}

.intro-text p:last-child {
  margin-bottom: 0px;
}

.intro-text {
  max-width: 558px;
  margin: 0 auto;
}

.intro-text p {
  color: #f8f8f8;
  font-size: 20px;
  line-height: 1.7;
}

.plan-card {
  border: 2px solid #e7e5ea;
  border-radius: 20px;
  padding: 41px 33px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.plans-card-block {
  padding-top: 85px;
  padding-bottom: 60px;
}

.card-header {
  margin-bottom: 18px;
}

.plan-dim {
  color: var(--color-primary);
  font-size: 28px;
  letter-spacing: -2%;
  font-weight: 600;
  line-height: 1.57;
  margin-right: 13px;
}

.plan-unit,
.plan-time {
  color: #888886;
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 1.6;
}

.card-pricing {
  margin-bottom: 60px;
}

.plan-price {
  color: #f8f8f8;
  margin-right: 8px;
  font-weight: 600;
  letter-spacing: -2%;
  font-size: 44px;
  line-height: 1;
}

.card-feature {
  flex-grow: 1;
}

.card-feature ul {
  margin-bottom: 50px;
  list-style: none;
  padding-left: 0px;
}

.card-feature ul li {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--font-secondary);
  font-weight: 500;
  margin-bottom: 22px;
  position: relative;
  padding-left: 35px;
}

.card-feature ul li:last-child {
  margin-bottom: 0px;
}

.card-feature ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  background-image: url(icons/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  background-size: 10px;
  background-position: center center;
}

.plans-card-block .btn {
  width: 100%;
}

.plans-card-block .btn-wrap {
  display: flex;
  margin-top: auto;
}

.plans-section .btn-wrap-all .btn {
  padding: 22px 95px;
}

/********************************
           Testimonials
********************************/

.testimonials-section h2 {
  max-width: 910px;
  color: #000000;
  margin-bottom: 104px;
}

.slide-photo {
  height: 193px;
  width: 193px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 27px;
}

.slide-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-name {
  color: var(--dark);
  font-weight: 500;
  margin-bottom: 13px;
  font-family: var(--font-secondary);
  font-size: 26px;
  line-height: 1.19;
}

.slide-job {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.19;
  font-family: var(--font-secondary);
}

.slide-right p:last-child {
  margin-bottom: 0px;
}

.slide-right {
  padding-left: 37px;
}

.slide-right p {
  font-size: 26px;
  font-family: var(--font-secondary);
  color: var(--dark);
  line-height: 1.5;
}

.single-slide {
  background-color: var(--grey);
  border-radius: 20px;
  padding: 81px 55px;
}

.swiper-slide {
  max-width: 840px;
}

.testimonials-slider {
  position: relative;
}

.swiper-slide-active,
.swiper-slide.active {
  background-color: var(--color-primary);
  margin-right: 35px;
}

.swiper-slide-active .slide-job,
.swiper-slide-active .slide-name,
.swiper-slide-active .slide-right p,
.swiper-slide.active .slide-job,
.swiper-slide.active .slide-name,
.swiper-slide.active .slide-right p {
  color: #ffffff;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  top: 55px;
  right: 55px;
  height: 40px;
  width: 40px;
  background-image: url(icons/q.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -100px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-image: url(icons/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}

.swiper-button-next {
  right: 0px;
  background-color: var(--color-primary);
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: unset;
  right: 80px;
  background-color: var(--black);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

/********************************
          Units
********************************/

.units-section h2,
.units-section .editor p {
  color: #f8f8f8;
}

.units-image {
  padding-top: 130px;
  width: 100%;
}

.units-image img {
  width: 100%;
  height: 365px;
  object-fit: cover;
}

.page-units {
  padding-top: 80px;
  padding-bottom: 120px;
}

.units-table-block a {
  border: 2px solid #dfdfdf;
  border-radius: 12px;
  padding: 10px 20px;
  color: #11142d;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-right: 20px;
  text-decoration: none !important;
}

.units-table-block a:hover {
  cursor: pointer;
}

.units-table-block a.active {
  background-color: var(--color-primary);
  text-decoration: none;
  color: #ffffff;
  border: 2px solid var(--color-primary);
}

.units-table {
  padding-top: 25px;
}

.units-table .table thead tr th {
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--font-secondary);
  color: var(--dark);
  font-weight: 500;
}

.units-table .table thead tr th {
  color: var(--dark);
}

.units-table .table td {
  vertical-align: middle;
  padding-top: 37px;
  padding-bottom: 37px;
  border-bottom: 1px solid #e4e4e4;
}

.table-size {
  color: var(--dark);
  font-weight: 600;
  font-size: 30px;
}

.table-type,
.table-feature {
  color: #11142d;
  font-size: 20px;
  line-height: 1.7;
  font-family: var(--font-secondary);
}

.table-price {
  color: #11142d;
  font-size: 30px;
  font-weight: bold;
}

.table-action button.btn {
  width: 100%;
  padding: 15px 21px;
}

/********************************
          FAQ
********************************/

.faq-section h2 {
  margin-bottom: 90px;
}

h2.accordion-header {
  margin-bottom: 0px;
}

.accordion-button {
  font-family: var(--font-secondary);
  font-size: 32px;
  line-height: 1.75;
  color: #000000;
  padding: 30px 0px;
}

.accordion {
  border: none;
}

.accordion-item {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: none;
  border-right: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-button:focus {
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: transparent;
  box-shadow: none;
}

.accordion-body p:last-child {
  margin-bottom: 0px;
}

.accordion-body {
  padding: 30px 45px;
}

.accordion-button::after {
  width: 42px;
  height: 42px;
  background-position: center center;
  background-image: url(icons/open.svg);
  border-radius: 50%;
  background-size: 18px;
}

.accordion-button:not(.collapsed)::after {
  background-color: var(--color-primary);
  background-image: url(icons/closed.svg);
}

/********************************
          Footer
********************************/

.footer-heading h2 {
  max-width: 1025px;
  color: #f8f8f8;
}

.arrow-top {
  background-color: var(--color-primary);
  width: 74px;
  height: 74px;
}

.arrow-top img {
  width: 40px;
  height: auto;
}

.footer-info {
  max-width: 268px;
}

.footer-info-title {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.78;
  margin-bottom: 14px;
  letter-spacing: -0.02em;
}

.footer-menu {
  padding-top: 150px;
}

.footer-ingo-desc {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.7;
  color: #ffffff;
}

.footer-menu-list {
  max-width: 202px;
  margin-right: 192px;
}

.footer-menu-list:last-child {
  margin-right: 0px;
}

.menu-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 40px;
}

.footer-menu-list ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.footer-menu-list ul li {
  margin-bottom: 30px;
}

.footer-menu-list ul li a {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.7;
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.footer-menu-list ul li a:hover {
  color: var(--color-primary);
}

.footer-menu-list ul li:last-child {
  margin-bottom: 0px;
}

.bottom-menu a,
.copy-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
}

.footer-bottom {
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid #ffffff;
}

.bottom-menu a {
  text-decoration: none;
  border-right: 1px solid #ffffff;
  padding-left: 5px;
  padding-right: 8px;
  transition: all 0.3s ease-out;
}

.bottom-menu a:hover {
  color: var(--color-primary);
}

.bottom-menu a:last-child {
  border-right: none;
  padding-right: 0px;
}

/********************************
           Contact
********************************/

.contact-page {
  padding-top: 75px;
  padding-bottom: 60px;
}

.contact-page h2 {
  margin-bottom: 30px;
  color: #ffffff;
}

.contact-page .intro-text {
  max-width: 612px;
  margin-bottom: 90px;
}

.contact-page .intro-text p {
  color: #ffffff;
}

.contact-form {
  max-width: 744px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.contact-form label {
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-secondary);
  line-height: 1.6;
  margin-bottom: 5px;
}

.contact-form label span {
  color: var(--color-primary);
}

.contact-form ::placeholder {
  color: #888886;
  font-size: 12px;
  line-height: 1.6;
  font-family: var(--font-secondary);
}

.contact-form .form-control {
  padding: 10px 18px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

.form-control:focus {
  color: var(--dark);
  box-shadow: none;
}

.contact-form .btn {
  padding: 22px 125px;
}

/********************************
         Units page
********************************/

.page-top {
  padding-top: 76px;
  padding-bottom: 76px;
}

.page-top h2 {
  color: #ffffff;
  margin-bottom: 27px;
}

.page-top .intro-text {
  max-width: 612px;
}

/********************************
            RESPONSIVE
********************************/

@media (max-width: 1399px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 60px;
  }
  .standard-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (max-width: 1199px) {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 50px;
  }
  .standard-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about-card-title {
    font-size: 24px;
  }
  .about-card-text p {
    font-size: 20px;
  }
  .about-card {
    padding: 28px;
  }
  .plans-card-block {
    padding-bottom: 40px;
  }
  .footer-menu {
    padding-top: 100px;
  }
  .single-slide {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 80px;
  }
  .navbar-brand img {
    height: 60px;
    width: auto;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .standard-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .home-hero-bg {
    width: 100%;
  }
  .home-hero .btn-wrap {
    margin-bottom: 0px;
  }
  .home-hero {
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-section h2,
  .units-section h2,
  .plans-section h2,
  .faq-section h2 {
    margin-bottom: 50px;
    text-align: center;
  }
  .about-section .editor,
  .units-section .editor {
    max-width: 100%;
  }
  .about-section .btn-wrap {
    text-align: center;
  }
  h2.accordion-header {
    margin-bottom: 0px;
  }
  .accordion-button {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .accordion-body {
    padding: 20px 30px;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 45px;
  }
  .footer-menu {
    padding-top: 50px;
  }
  .footer-info {
    max-width: 100%;
    text-align: center;
  }
  .footer-menu-list {
    max-width: 50%;
    margin-right: 0px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .units-image {
    padding-top: 80px;
  }
  .slide-right p {
    font-size: 22px;
  }
  .testimonials-section h2 {
    text-align: center;
  }
  .contact-page .intro-text {
    margin-bottom: 60px;
  }
  .page-units {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .units-table-block a {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
  }
  .standard-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .plans-card-block {
    padding-bottom: 0px;
    padding-top: 40px;
  }
  .units-image {
    padding-top: 50px;
  }
  .accordion-button {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .accordion-body p {
    font-size: 16px;
  }
  .accordion-body {
    padding: 15px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: -60px;
    width: 64px;
    height: 64px;
  }
  .single-slide {
    flex-direction: column;
    padding: 20px;
  }
  .slide-right {
    padding-top: 20px;
  }
  .single-slide::after {
    display: none;
  }
  .slide-right {
    padding-left: 0px;
  }
  .units-table .table td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .table-size,
  .table-price {
    font-size: 20px;
  }
  .table-type,
  .table-feature {
    font-size: 16px;
  }
  .table-filters a {
    margin-bottom: 10px;
  }
}

@media (max-width: 591px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 18px;
  }
  .standard-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-section h2,
  .units-section h2,
  .plans-section h2,
  .faq-section h2 {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }
  h2.accordion-header {
    margin-bottom: 0px;
  }
  .footer-lists {
    flex-direction: column;
  }
  .footer-menu-list {
    padding-bottom: 30px;
    padding: 0px 0px 30px;
  }
  .footer-menu-list:last-child {
    margin: 0 auto;
  }
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bottom-menu a,
  .copy-text {
    text-align: center;
  }
  .bottom-menu {
    display: flex;
    flex-direction: column;
  }
  .bottom-menu a {
    border-right: none;
    margin-bottom: 10px;
  }
  .bottom-menu a:last-child,
  .bottom-menu a {
    padding-right: 5px;
  }
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-brand img {
    height: 50px;
  }
  body {
    padding-top: 60px;
  }
  .footer-menu-list {
    text-align: center;
  }
  .slide-photo {
    height: 120px;
    width: 120px;
    margin: 0 auto 10px;
  }
  .slide-right p {
    font-size: 18px;
  }
  .contact-form {
    padding: 15px;
  }
  .contact-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contact-form .btn {
    padding: 20px 20px;
    width: 100%;
  }
  .table-filters a {
    padding: 10px;
    font-size: 14px;
  }
  .table-size,
  .table-price {
    font-size: 18px;
  }
  .table-type,
  .table-feature {
    font-size: 14px;
  }
  .table-action button.btn {
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 1700px) {
  .testimonials-swiper {
    width: 150%;
    /* margin-right: -50%; */
  }
}

@media only screen and (min-width: 1200px) {
  .testimonials-swiper {
    /* margin-right: -23%; */
    width: 123%;
  }
}
